* {
  paddding: 0;
  margin: 0;
  box-sizing: border-box; }

body {
  font-family: "Open Sans", sans-serif; }

ul {
  text-decoration: none;
  list-style-type: none;
  list-style-position: inside;
  padding-left: 0 !important; }

ul, menu, dir {
  padding-start: 0;
  padding: 0;
  margin: 0; }

.overflow {
  overflow: hidden; }

.padTB40 {
  padding: 40px 0; }

.padTB20 {
  padding: 20px 0; }

.padLR40 {
  padding: 40px 0; }

.padLR20 {
  padding: 0 20px; }

.pad20 {
  padding: 20px; }

.pad40 {
  padding: 40px; }

.centered {
  text-align: center;
  margin: 0 auto; }

.round {
  border-radius: 50%; }

.floatR {
  float: right; }
  .floatR:after {
    content: '';
    clear: both; }

.floatL {
  float: left; }
  .floatL:after {
    content: '';
    clear: both; }

img-responsive {
  max-width: 100%; }

.navbar.navbar-default.navbar-static-top {
  background-color: #3D3D3D; }
  .navbar.navbar-default.navbar-static-top a {
    color: white;
    font-family: "Open Sans", sans-serif;
    font-weight: bold; }
  .navbar.navbar-default.navbar-static-top .navbar-brand {
    font-weight: normal;
    font-family: "Rock Salt", cursive; }

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {
  background-color: #3D3D3D;
  color: #6BC5F0; }

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > .open > a:hover {
  background-color: #6BC5F0;
  color: white; }

.navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover {
  color: white; }

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
  background-color: transparent;
  color: white; }

.navbar-nav > li > .dropdown-menu {
  background-color: #3D3D3D; }

.dropdown-menu > li > a:focus, .dropdown-menu > li > a:hover {
  background-color: #6BC5F0; }

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: lightgrey;
    border-bottom: 1px solid lightgrey;
    line-height: 2em; }

  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus, .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover {
    color: white; } }
/*
/
///////////////  COVER IMAGEs \\\\\\\\\
/
*/
.cover {
  width: 100%;
  height: 100vh;
  background-size: cover;
  margin: 0;
  padding: 0; }

.intro-pic {
  background-image: url("../../images/compwireframe.jpg");
  background-position: center center; }

.intro-pic.container-fluid {
  padding: 0; }

/*================================
          INTRODUCTION
=================================*/
#person {
  background-color: #EEEEEE;
  margin: 0;
  padding: 0; }
  #person h1 {
    text-align: center;
    padding: 40px 0;
    margin: 0;
    color: #007BB6;
    font-weight: bold; }
  #person p {
    font-size: 1.5em;
    padding-right: 20px; }

#story h1 {
  color: #007BB6;
  font-weight: bold; }

.kristapic {
  max-width: 30vw;
  height: auto;
  float: left;
  padding: 0 20px 0 40px; }

#past > p {
  font-size: 1.2em;
  line-height: 1.5;
  padding: 5px 40px; }
#past h2:first-child {
  margin-bottom: 0;
  margin-top: 0; }
#past .since {
  margin-left: 40px; }

@media (max-width: 775px) {
  #person h1 {
    text-align: center; }

  #past {
    text-align: left; }
    #past > h2,
    #past > .since {
      text-align: center;
      margin-left: 0; }

  .kristapic {
    float: none;
    max-width: 50%;
    margin: 0 25%;
    margin-top: 20px; } }
/*=========================
        JUMBOTRON
===========================*/
.jumbo-wrap {
  width: 60%;
  height: auto;
  padding-top: 7%;
  margin: 0 auto; }
  .jumbo-wrap .jumbotron {
    text-align: center; }
    .jumbo-wrap .jumbotron h1 {
      font-family: "Rock Salt", cursive; }
    .jumbo-wrap .jumbotron p {
      font-family: "Open Sans", sans-serif; }

@media (max-width: 775px) {
  .jumbo-wrap {
    width: 80%; }

  .jumbotron p {
    padding: 0 5px; } }
.email-main {
  text-align: center;
  color: white;
  margin: 10px auto;
  background-color: #6BC5F0;
  font-size: 200%;
  background-color: #6BC5F0;
  color: white;
  width: 100%; }
  .email-main:hover {
    background-color: #EEEEEE;
    color: #6BC5F0;
    font-weight: bold; }

.mobile-text {
  display: none; }

.buttons1 {
  margin: 0 auto;
  text-align: center; }

.socButton {
  display: block;
  width: 100%;
  height: 50px;
  border-radius: 5px;
  line-height: 50px;
  font-size: 200%;
  color: white;
  background-color: #007BB6; }
  .socButton:hover {
    text-decoration: none;
    background-color: #3D3D3D;
    color: white; }

.backButton {
  display: block;
  max-width: 100%;
  max-height: 100%;
  background-color: #007BB6;
  color: white;
  text-align: center;
  margin-bottom: 20px;
  font-size: 1.3em; }
  .backButton:hover {
    color: #EEEEEE;
    text-decoration: none; }

.fcc {
  background-image: url("../../images/freeCodeCamp-transparent-1200.png") center center no-repeat;
  background-size: contain; }
  .fcc img {
    width: 100%;
    max-height: 100%; }

@media (max-width: 775px) {
  #contact {
    padding: 40px; }

  .socButton {
    margin: 2px 0; }

  .email-main {
    display: block;
    padding: 5px 0;
    margin: 0 0 3px 0; }

  .mobile-text {
    display: inherit; }

  .expanded {
    display: none; } }
figure {
  max-width: 100%; }
  figure img {
    max-width: 100%; }

.skill {
  max-height: 50px;
  display: table-cell;
  vertical-align: middle; }
  .skill h3 {
    max-width: 20%;
    display: inline-block;
    float: left;
    margin-right: 20px; }

.counter {
  max-width: 80%;
  overflow: hidden;
  padding: 3%; }
  .counter .bead {
    width: 2em;
    height: 2em;
    border: 1px solid #3D3D3D;
    border-radius: 50%;
    margin: 2.5px; }

.bead.filled {
  background-color: #6BC5F0; }

.bead.empty {
  background-color: #EEEEEE; }

/*# sourceMappingURL=main.css.map */
