/*=========================
        JUMBOTRON
===========================*/
.jumbo-wrap {
  width: 60%;
  height: auto;
  padding-top: 7%;
  margin: 0 auto;
  .jumbotron{
    max-width: 90vw;
    height: auto;
    text-align: center;
      h1{
        font-family: $funky;
        color: $darkgrey;
      }
      p {
        font-family: $plain;
        font-size: $textSize;

      }
  }
}

@media screen and (max-width: 768px){
  .jumbotron > h1 {
    font-size: 2.3em;
  }
}
//TABLET OR SMALLER
@media (max-width: $tabs) {
  .jumbo-wrap {
    width: 80%;
  }
  .jumbotron p {
    padding: 0 5px;
  }
}

@media (max-width 450px) {
  .jumbo-wrap {
    max-height: 90vh;
    overflow: hidden;
  }
  .jumbotron > h1 {
    font-size: 1.8em;
  }
}
