* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  font-family: $plain;
  font-size: 1.8em;
}

ul {
  text-decoration: none;
  list-style-type: none;
  list-style-position: inside;
  padding-left: 0 !important;
}

ul, menu, dir {
  padding-start: 0;
  padding: 0;
  margin: 0;
}

ul.bullet {
  list-style-type: disc;
  list-style-position: inside;
  text-align: left;
  li {
    padding: .5em 0;
  }
}

h1 {
  color: $LIBlue;
}

.overflow {
  overflow: hidden;
}

.padTB40 {
  padding: 40px 0;
}
.padTB20 {
  padding: 20px 0;
}
.padLR40{
  padding: 40px 0;
}
.padLR20 {
  padding: 0 20px;
}
.pad20{
  padding: 20px;
}
.pad40{
  padding: 40px;
}
.centered {
  text-align: center;
  margin: 0 auto;
}

.round {
  border-radius: 50%;
}

.floatR {
  float: right;
  &:after{
    content:'';
    clear: both;
  }
}
.floatL {
  float: left;
  &:after{
    content:'';
    clear: both;
  }
}

img-responsive {
  max-width: 100%;
}

.top {
  display: block;
  float: right;
  margin: 5px 0;
  &:after {
    content: '';
    clear: both;
  }
}