$turq: #6BC5F0;
$LIBlue: #007BB6;
$twitter: #5EA9DD;
$whitegrey: #EEEEEE;
$funky: 'Rock Salt', cursive;
$plain: 'Open Sans', sans-serif;
$darkgrey: #3D3D3D;
$navHeight: 50px;
$tabs: 775px;


//@mixin text-shadow($color) {
//  text-shadow: 1px 1px $color;
//}