#contact{
  background-color: $whitegrey;
  padding-bottom: 40px;
}

a.email-main {
  display: block;
  text-align: center;
  font-size: 1.7em;
  line-height: 1.19;
  margin-bottom: 10px;
}

.mobile-text {
  display: none;
}


.contactFlexbox {
  display: flex;
  justify-content: space-between;
  width: 100%;
  a:nth-child(4){
    margin-right: 0;
  }
}
.socButton {
  display: block;
  width: 100%;
  margin: 0 10px;
  height: 50px;
  border-radius: 5px;
  text-align: center;
  line-height: 50px;
  font-size: 1.3em;
  color: white;
  background-color: $LIBlue;
  &:hover {
    text-decoration: none;
    background-color: $darkgrey;
    color: white;
  }
}

.backButton {
  display: block;
  max-width: 100%;
  max-height: 100%;
  background-color: $LIBlue;
  color: white;
  text-align: center;
  margin-bottom: 20px;
  font-size: 1.3em;
  &:hover {
    color: $whitegrey;
    text-decoration: none;
  }
}


.fccLogo {
  height: 1em;
}



@media (max-width: $tabs) {
  #contact {
    padding: 40px;
  }
  .contactFlexbox{
    background-color: $LIBlue;
    border-radius: 5px;
    justify-content: space-around;
  }
  .socButton {
    margin: 5px;
    // border-right: 1px solid $darkgrey;
    border-radius: 0;
    &:nth-child(4){
      border-right: 0;
    }
  }
  .email-main {
    display: block;
    padding: 5px 0;
    margin: 0 0 3px 0;
    border-radius: 5px;
  }
  .mobile-text {
    display: inherit;
  }
  .expanded {
    display: none;
  }
  .TMI {
    display: none;
  }
  #fullFCCLogo {
    display: none;
  }
  #miniFCCLogo {
    display: block;
  }
}
