/*
/
///////////////  COVER IMAGEs \\\\\\\\\\\\\\\\\
/
*/

.cover {
  width: 100%;
  height: 100vh;
  background-size: cover;
}

.intro-pic {
  background-image: url('../../images/compwireframe.jpg');
  background-position: center center;
}

.intro-pic.container-fluid {
  padding: 0;
}