/*
/
///////////////  COVER IMAGEs \\\\\\\\\\\\\\\\\
/
*/

.cover {
  width: 100%;
  height: 100vh;
  background-size: cover;
  margin: 0;
  padding: 0;
}

.intro-pic {
  background-image: url('../images/compwireframe.jpg');
  background-position: center center;
}

.intro-pic.container-fluid {
  padding: 0;
}

.flexbox {
  display: flex;
  width: 60%;
  margin: 40px auto;
  justify-content: space-around;
  height: 2.5em;
  a {
    display: block;
    height: 100%;
    padding-bottom: 5px;
    &:hover {
      text-decoration: none;
    }

    i {
      display: block;
      font-size: 2.5em;
      color: white;
    }
    img {
      height: 100%;
      // padding: 5px;

    }
  }
}
@media (max-width: $tabs) {

}
