/*
/
///////////////  COVER IMAGEs \\\\\\\\\\\\\\\\\
/
*/

.cover {
  width: 100%;
  height: 100vh;
  background-size: cover;
  margin: 0;
  padding: 0;
}

.intro-pic {
  background-image: url('../../images/compwireframe.jpg');
  background-position: center center;
}

.intro-pic.container-fluid {
  padding: 0;
}

h2.keepReading {
  position: relative;
  bottom: -50px;
  color: white;
  font-size: 2em;
  i {
    font-size: 2.1em;
  }
}

@media (max-width: $tabs) {
  h2.keepReading {
    display: none;
  }
}