figure {
  max-width: 100%;
  img {
    max-width: 100%;
  }
}

.skill{
  max-height: 50px;
  display: table-cell;
  vertical-align: middle;
  h3 {
  max-width: 20%;
  display: inline-block;
  float: left;
  margin-right: 20px;
  }
}

.counter {
  max-width: 80%;
  overflow: hidden;
  padding: 3%;
   .bead {
    width: 2em;
    height: 2em;
    border: 1px solid $darkgrey;
    border-radius: 50%;
    margin: 2.5px;
  }
}

.bead.filled {
      background-color: $turq;
    }
.bead.empty {
      background-color: $whitegrey;
    }