/*=====================
  SKILLS AT A GLANCE
======================*/

#skillsRow {
  width: 80%;
  margin: 0 auto;
} 

.skills-wrapper {
  width: 80%;
  margin: 0 auto;
  padding-left: 60px;
  overflow: hidden;
}

.skill{
  .counter {
     .bead {
      width: 1.5em;
      height: 1.5em;
      border: 1px solid $darkgrey;
      border-radius: 50%;
      margin: 2.5px;
    }
  }
}

.bead.filled {
      background-color: $turq;
    }
.bead.empty {
      background-color: $whitegrey;
    }

/*=======================
      PROJECTS
========================*/

#projects {
  background-color: $whitegrey;
  h1 {
    padding-bottom: 40px;
  }
}

figure {
  max-width: 100%;
  img {
    height: 300px;
    max-width: 100%;
    border: 4px solid $darkgrey;
  }
  &:hover figcaption {
    display: block;
    margin-bottom: -300px;
  }
  figcaption {
    background-color: $tranDG;
    color: white;
    border: 1px solid $darkgrey;
    padding: 0 20px;
    overflow: hidden;
    height: 300px;
    position: relative;
    bottom: 300px;
    display: none;
    a {
      color: white;
      &:hover {
        color: white;
        text-decoration: underline;
      }
    }
    h3 {
      font-weight: bold;
      text-shadow: 2px 2px 3px $darkgrey;
      text-align: left;
      padding-top: 20px;
    }
    h4 {
      text-shadow: 2px 2px 3px $darkgrey;
      font-size: 1.7em;
      text-decoration: underline;
    }
  }
  .portSkillCont {
    margin: 0 auto;
    padding-left: 20px;
    overflow: hidden;
    max-width: 100%;
  }
  .skills{
    max-width: 50%;
    padding: 10px 30px;
    ul{
      list-style-type: disc;
      list-style-position: inside;
      li {
        text-shadow: 1px 1px 1px $darkgrey;
        font-size: 1.7em;
        &:hover {
          text-decoration: none;
        } //end li hover
      } //end li
    } //end ul
  } //end .skills
} //end figure

.link a {
          text-decoration: underline;
}

/*================================
    PORTFOLIO PROJECT PAGES
==================================*/
.proj-page a:hover {
    text-decoration: none;
  h1{
    color: $darkgrey;
    font-weight: bold;
  }
}

.main-proj-col {
  box-shadow: 3px 3px 3px $darkgrey;
}

.sec-title {
  background-color: $whitegrey;
  color: $LIBlue;
  font-weight: bold;
}

.sidebar {
  box-shadow: 3px 3px 3px $darkgrey;
  display: block;
  padding: 40px 20px;
  background-color: $whitegrey;
  text-align: center;
  h3 {
    color: $LIBlue;
    padding-top: 0;
    margin-top: 0;
    font-weight: bold;
  }
  img {
    outline: 1px solid $darkgrey;
    margin: 20px 0;
  }
}

/*================================
    DEVELOPER MEDIA QUERIES
==================================*/

@media (max-width: 1022px) {
  .portSkillCont {
    max-width: 100%;
  }
}
@media (max-width: $tabs) {
 .counter {
  float: none;
  text-align: center;
  margin: 0 auto;
   .bead {
    width: 1.5em;
    height: 1.5em;
    border: 1px solid $darkgrey;
    border-radius: 50%;
    margin: 2.5px;
  }
}
  .skill-cont {
    
    h3 {
      margin-top: 10px;
      font-size: 1em;
    }
  }
  
  figcaption {
    display: block;
    bottom: 0;
  }
} //end media query for developer section