
/*==============================
      THE DEVELOPER: PROJECTS
================================*/
#theDeveloper {
  padding-bottom: 40px;
}

#projects {
  background-color: white;
  h1 {
    padding-bottom: 40px;
  }
}

figure {
  width: 100%;
  img {
    height: 300px;
    width: 100%;
    border: 4px solid $darkgrey;
  }
  &:hover figcaption {
    display: block;
    margin-bottom: -300px;
  }
  figcaption {
    background-color: $tranDG;
    color: white;
    border: 1px solid $darkgrey;
    padding: 0 20px;
    overflow: hidden;
    height: 300px;
    position: relative;
    bottom: 300px;
    display: none;
    a {
      color: white;
      &:hover {
        color: white;
        text-decoration: underline;
      }
    }
    h3 {
      font-weight: bold;
      text-shadow: 2px 2px 3px $darkgrey;
      text-align: left;
      padding-top: 20px;
    }
    h4 {
      text-shadow: 2px 2px 3px $darkgrey;
      font-size: 1em;
      text-decoration: underline;
      font-weight: bold;
    }
  }
  .portSkillCont {
    margin: 0 auto;
    padding-left: 20px;
    overflow: hidden;
    width: 100%;
  }
  .skills{
    padding: 0 .75em;
    ul{
      list-style-type: disc;
      list-style-position: inside;
      li {
        text-shadow: 1px 1px 1px $darkgrey;
        font-size: .9em;
        font-weight: bold;
        &:hover {
          text-decoration: none;
        } //end li hover
      } //end li
    } //end ul
  } //end .skills
} //end figure

.link a {
          text-decoration: underline;
}

/*================================
    PORTFOLIO PROJECT PAGES
==================================*/
.proj-page a:hover {
    text-decoration: none;
  h1{
    color: $darkgrey;
    font-weight: bold;
  }
}

.main-proj-col {
  box-shadow: 3px 3px 3px $darkgrey;
}

.sec-title {
  background-color: $whitegrey;
  color: $LIBlue;
  font-weight: bold;
}

.sidebar {
  box-shadow: 3px 3px 3px $darkgrey;
  display: block;
  padding: 40px 20px;
  background-color: $whitegrey;
  text-align: center;
  h3 {
    color: $LIBlue;
    padding-top: 0;
    margin-top: 0;
    font-weight: bold;
  }
  img {
    outline: 1px solid $darkgrey;
    margin: 20px 0;
  }
}

/*================================
    DEVELOPER MEDIA QUERIES
==================================*/

@media (max-width: 1022px) {
  .portSkillCont {
    width: 100%;
  }
}
@media (max-width: 875px) {
 figure {
   margin-bottom: 20px;
   &:hover {
     margin-bottom: 320px;
   }

   figcaption {
     display: block;
     bottom: 0;
     border: 4px solid $darkgrey;
     border-top: 0;
     overflow-y: scroll;
     overflow-x: hidden;
   }
.skills > ul {
  width: 100%;
}

 }

} //end media query for developer section
