/*================================
          INTRODUCTION
=================================*/
#person {
  background-color: $whitegrey;
}

.kristapic {
  max-width: 40vh;
  height: auto;
  margin-left: 20px;
}

#past{
   > p {
    font-size: 1.2em;
    line-height: 1.5;
    padding: 5px 40px;
  }
  h2:first-child {
    margin-bottom: 0;
  }
  .since {
    margin-left: 40px;
  }
}

