/*================================
          INTRODUCTION
=================================*/
#person {
  // height: 100vh;
  background-color: $whitegrey;
  margin: 0;
  padding: 0 0 30px 0;
  h1{
    text-align: center;
    padding-bottom: 40px;
    margin: 0;
    color: $LIBlue;
  }
  p {
    font-size: $textSize;
    padding-right: 20px;
  }
}

.story h1 {
  color: $LIBlue;
  padding-top: 40px;
}

// #person > .row >.col-md-9,
// #person > .row >.col-lg-9,
// #person > .row >.col-xl-9,
// {
//   margin: 3% 12.5%;
// }

.kristapic {
  max-width: 25vw;
  height: auto;
//  margin-left: 40px;
//  margin-top: 30px;
  float: left;
  padding: 0 20px 0 40px;

}

.curSkills {
  font-weight: bold;
}
.skillList {
      margin: 0 auto;
      list-style-type: disc;
      list-style-position: inside;
  li {
    font-weight: bold;
    line-height: 2em;
  }
}

@media (max-width: $tabs) {
  #person > .row > .col-md-9, #person > .row > .col-lg-9, #person > .row > .col-xl-9 {
    margin: 0;
  }

  #person h1 {
    padding-top: 60px;
    text-align: center;
    margin-bottom: 0;
  }
 #person p {
    text-align: left;
    padding: 5px 20px;
    line-height: 1.7;
    }

  #past {
    text-align: left;
    > h2,
    > .since {
    text-align: center;
    margin-left: 0;
    }
  }

  .kristapic {
    float: none;
    max-width: 80%;
    padding: 0;
    margin: 20px 10%;
  }


}
