/*================================
          INTRODUCTION
=================================*/
#person {
  height: 100vh;
  background-color: $whitegrey;
  margin: 0;
  padding: 0;
  h1{
    text-align: center;
    padding-bottom: 40px;
    margin: 0;
    color: $LIBlue;
    font-weight: bold;
  }
  p {
    font-size: 1.5em;
    padding-right: 20px;
  }
}

#story h1 {
  color: $LIBlue;
  font-weight: bold;
}

#person > .row >.col-md-9,
#person > .row >.col-lg-9,
#person > .row >.col-xl-9,
{
  margin: 3% 12.5%;
}

.kristapic {
  max-width: 30vw;
  height: auto;
//  margin-left: 40px;
//  margin-top: 30px;
  float: left;
  padding: 0 20px 0 40px;
}

#past{
   > p {
    font-size: 1.2em;
    line-height: 1.5;
    padding: 5px 40px;
  }
  h2:first-child {
    margin-bottom: 0;
    margin-top: 0;
  }
  .since {
    margin-left: 40px;
  }
}

@media (max-width: $tabs) {
  #person > .row > .col-md-9, #person > .row > .col-lg-9, #person > .row > .col-xl-9 {
    margin: 0;
  }
  
  #person h1 {
    text-align: center;
    margin-bottom: 0;
  }
 #person p {
      text-align: center;
      padding: auto 20px;
    }
  
  #past {
    text-align: left;
    > h2,
    > .since {
    text-align: center;
    margin-left: 0;
    }
  }
  
  .kristapic {
    float: none;
    max-width: 80%;
    padding: 0;
    margin: 20px 10%;
  }
  
  
}
